{
	log {
		format filter {
			request>uri query {
				replace relay_token REDACTED
			}
			request>headers>X-Termd-Relay-Setup-Token delete
			request>headers>X-Termd-Relay-Daemon-Token delete
			request>headers>X-Termd-Relay-Admission delete
		}
	}
}

{$TERMRELAY_DOMAIN} {
	encode zstd gzip
	reverse_proxy termrelay:8080
}
